@import url(https://fonts.gogleapis.com/css?family=lato:300,400,700|PT++mono);

:root {
  --primary-color: #a1efd5;
  --segondary-color: #58ee97;
  --tertiary-color: #adef50;
}

body {
  background-color: var(--primary-color);
  font-size: 15px;
  font-family: lato, sans-serif;
}

#container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #6fbff1;
  box-shadow: 10px 10px 10px;
  border-radius: 20px;
}

.title {
  background-color: #e2eeef;
  color: #f45050;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.tipform {
  padding-left: 20px;
  padding-right: 20px;
}

.formimput {
  background: white;
  width: 40px;
  padding: 5px 5px 8px 8px;
}

.formimput:focus {
  border: 3px solid;
  background: #f45050;
  outline: none;
}

.formselect {
  width: 180px;
  padding: 5px;
  font-size: 12px;
}

.formsubmit {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: var(--primary-color);
  border-radius: 8px;
  width: 200px;
  height: 50px;
  font-size: 17px;
}

#totaltip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}
